* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #457b9d;
}

.logo {
    height: 40px;
    width: 40px;
    background-image: url(/picture/logo.avif);
    background-size: cover;
    filter: drop-shadow(0 0 10px #07afd1);
    border-radius: 50px;
    border: none;
}

a i {
    text-decoration: none;
    color: whitesmoke;
}

.main-container {
    min-height: 60px;
    height: auto;
    width: 100%;
    background-color: #111827;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
}

.option {
    height: 2rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search {
    height: 2rem;
    width: 25rem;
    max-width: 100%;
    padding: 0;
    color: white;
    justify-content: space-evenly;

}

#btn {
    background-color: #1d3557;
    padding: 6px 30px;
    border-radius: 0 5px 5px 0;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    height: 2rem;
}

#btn:hover {
    background-color: #bb3e03;
    font-size: 1.08rem;
    text-align: center;
    filter: drop-shadow(0 0 10px rgb(207, 55, 55));
}

.input {
    height: 2rem;
    font-size: 1rem;
    border: none;
    text-align: center;
    width: auto;

}

.wishlist {
    padding: 6px 30px;
    color: whitesmoke;
}

.wishlist:hover {
    font-size: 1.08rem;
    color: #bb3e03;
    filter: drop-shadow(0 0 10px rgb(207, 55, 55));
}

.cart {
    padding: 6px 30px;
    color: whitesmoke;
}

.cart:hover {
    font-size: 1.08rem;
    color: #bb3e03;
    filter: drop-shadow(0 0 10px rgb(207, 55, 55));
}

.sign {
    padding: 6px 30px;
    color: whitesmoke;
}

.sign:hover {
    font-size: 1.07rem;
    color: #bb3e03;
    filter: drop-shadow(0 0 10px rgb(207, 55, 55));
}

/* @media (max-width: 768px) {

    .container {
        justify-content: center;
        height: auto;
    }

    .search {
        width: 95%;
        margin-top: 10px;
    }

    .wishlist,
    .cart,
    .sign {
        padding: 6px 10px;
    } 
 } */
/* aside bar */
.side-container {
    display: flex;
    min-height: 120vh;
    margin-top: 10px;
}

.aside {
    background-color: #ffffff4f;
    width: 252px;
    height: 27rem;
    color: white;
    border-radius: 1rem;
    filter: drop-shadow(0 0 10px whitesmoke);

}

h2 {
    background: #14213D;
    text-align: center;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 1rem;
    /* filter: drop-shadow(0 0 10px whitesmoke); */
}

h2:hover {
    background-color: #bb3e03;
    filter: drop-shadow(0 0 10px rgb(207, 55, 55));

}

li {
    background: #14213D;
    font-size: 1.2rem;
    font-weight: 1.2rem;
    height: 40px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    margin-right: 6px;
    gap: 7px;
    border-radius: 1rem;
}

li a i {
    color: white;
}

li:hover {
    font-size: 1.08rem;
    background-color: #bb3e03;
    filter: drop-shadow(0 0 10px rgb(207, 55, 55));
}
/* main content */
.main-box{
    background-color: #ffffff4f;
    height: 100%;
    width: auto;
    color:black;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    margin:20px ;
    border-radius: 1rem;
}
.box{
    height: 60px;
    width: 200px;
    background-color:rgba(245, 245, 245, 0.716);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;

}
.text{
    margin-top: 10px;
    background-color: #457b9d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* footer panel */

.foot-panel {
    color: white;
    background-color: #111827;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.main-footer {
    background-color: #14213D;
    color: white;
    font-size: 0.98rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-footer ul a {
    display: block;
    margin: 10px;
    font-size: 0.85rem;
}

.main-footer ul p {
    font-size: 0.98rem;
    margin-top: 10px;
}

.footer-contect {
    color: white;
    background-color: #080d14;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.social-media {
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10rem;
    font-size: 2rem;
    filter: drop-shadow(0 0 10px aqua);
    gap: 20px;
}

.social-media a i {
    text-decoration: none;
    color: whitesmoke;
}
#logo-name {
    margin-left: -70px;
}